body{
    margin : 0 px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color : white;
  }
  
  nav{
    height: 80px;
    background-color : black;
    display : flex;
    justify-content : space-around;
    align-items : center;
  }
  
  main{
    height: 996px ;
    background-color : rgb(41,65,171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  
  footer{
    height: 53;
    background-color : black;
  }
  
  a{
    color : white;
    text-decoration: none;
  }
  
  a:hover{
    color:#1ed760;
  }
  
  .nav-items{
    padding : 28px 17px;
    font-weight: 700px;
  }
  
  .main-container{
    border: 1px solid red;
  }
  
  .headline{
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    padding-bottom : 40px;
    position : relative;
    left : 225px ;
  }
  
  .headline-first{
    position: relative;
    left : -2.5em;
  }
  
  .sub-headline{
    color: #1ed760;
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 40px;
      text-align: center;
  }
  
  .button-area{
    text-align : center;
    
  }
  .button-style{
        padding: 14px 32px;
      background-color: #1ed760;
      border-radius: 500px;
      font-size: inherit;
      color: #2941ab;
      font-weight: 700;
      border: none;
  }
  
  .button-style:hover{
    transform: scale(1.07);
  }